# -*-text-*-
auto-save-list
backups
el-get
elpa-*.*
.eln-cache
elpa
projectile-bookmarks.eld
recentf
scratches.el
smex-items
ido.last
transient
places
notizen.org
daemon.log
daemon.pid
tramp
eln-cache
bookmarks
.lsp-session-v1
history
emms
macros.el
forge-database.sqlite
forge-database*
